.contentClass{
  margin-top: 15px;
}
.comment{
  textarea{
    width: 100%;
    height: 70px;
  }
  .sub{
    float: right;
    padding:10px 20px;
    margin: 10px 0;
    border: 0;
    color: #fff;
    background: darkcyan;
    border-radius: 10px;

  }
  .clear{
    clear: both;
  }
  .sigma-content{
    margin: 10px 0;
    text-align: center;
    background-color: #fff;
  }
  .sigma-middle-line:before{
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    background-color: #999;/*颜色需与主题大背景色一致*/
    position: relative;
    top: 10px;/*调节线高*/
    left: 0;
  }
  .sigma-line-text{
    display: inline-block;
    background: #fff;
    padding: 0 30px;
    position: relative;
    font-size: 14px;
    font-weight: 500;
    color: darkcyan;
  }
  .paging{
    float: right;
  }
}
